<h2 [ngStyle]="{'color': 'red'}">just only for test</h2>
 <h2 [ngStyle]="{color:myStyle}">just only for test</h2>
<input type="text" [(ngModel)]="myStyle">
<p [ngClass]="['class1',customeClass]">test class</p>
<hr/>

<input type="button" value="click Me!" (click)="active()">

<input type="number" [(ngModel)]="count" />

<div  *ngIf="count <1">
<h2 style="color: violet;padding: 5px;">input not valid</h2>
</div>

<ul>
  <li *ngFor="let person of people">{{person.name}}</li>
</ul>


<input type="number" [(ngModel)]="mySwich" />

<div  [ngSwitch]="mySwich">
  <div *ngSwitchCase="1">
    <h2 style="color:turquoise">swich 1</h2>
  </div>
  <div *ngSwitchCase="2">
    <h2 style="color:red">swich 2</h2>
  </div>
  <div *ngSwitchCase="3">
    <h2 style="color:blue">swich 3</h2>
  </div>
  <div *ngSwitchDefault>output2</div>
</div>


